<head>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<div id="page-wrapper">
<div class="default">
<h2 id="wm"> <span style=" font-size: 125%;">Welcome <%= locals.username %>,</span><br>&nbsp;
    <span style="font-size: 50%;">Bank:<span class="balance"> <%= locals.gold %></span> Gold <span class="balance"><%= locals.gems || 0 %></span> Gems</span>
</h2>


<div id="shop" class="no-border">
    
    <div id="card-wrap">
   <% for (let i = 0; i < locals.data.length; i++) { %>
    <form name="addspell" onclick="alert('Spell Added to Cart!')">
        <input type="hidden" name="gold" value="<%= locals.data[i].cost %>">
<button id="spell-btn-1" class="spell-btn" title="You learned, <%= locals.data[i].name %>">
        <div class="card card-<%= locals.data[i].color%>" id="card-<%= locals.data[i].name %>">
            <section class="card-title"><%= locals.data[i].item_name %></section>
            <section class="card-icons" title="<%= locals.data[i].cost %> gold / <%= locals.data[i].gem_cost || 0 %> gem(s)"><b style="color:'lightgrey'; opacity:0.2"><%= locals.data[i].expr %>XP</b> </section>
            <section class="card-desc"><%= locals.data[i].effect %></section>
        </div>
        </button></form>
    <% } %>
    </div>
</div>


<div id="ab-wrap"><div id="access-bar">
    <button id="minigame"><a href="/minigame" class="homebtn">Play</a></button>
    <button id="profile"><a href="/welcome" class="homebtn">Home</a></button>
    <button id="cart"><a href="/cart" class="homebtn">Cart</a></button>
    <button id="logout"><a href="/logout" class="homebtn">Logout</a></button>
</div></div>
</div>
</div>
</body>